@model IEnumerable<RequestType>

@{
    ViewData["Title"] = "ПАНЕЛЬ АДМИНИСТРАТОРА";
}
<a asp-action="CreateRequestType">Добавить тип запроса</a>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Название
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    
                    <td>
                        @Html.ActionLink("Удалить", "RemoveRequestType", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
