<!DOCTYPE html>
@inject SignInManager<ApplicationUser> signInManager;
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - lab</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lab.styles.css" asp-append-version="true" />
</head>

<body>
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a asp-action="RequestList" asp-controller="Home" class="nav-link link-dark px-2">Заявки</a></li>
                @if (signInManager.IsSignedIn(User))
                {
                    
                    if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a asp-action="RequestTypeList" asp-controller="Home" class="nav-link link-dark px-2">Типы заявок</a></li>
                        <li class="nav-item"><a asp-action="Edit" asp-controller="Admin" class="nav-link link-dark px-2">Пользователи</a></li>
                    }
                }
            </ul>
            <ul class="nav">
                @if (signInManager.IsSignedIn(User))
                {
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                            Выйти @User.Identity.Name
                        </button>
                    </form>
                }
                else
                {
                    <li class="nav-item"><a asp-action="Login" asp-controller="Account"  class="nav-link link-dark px-2">Войти</a></li>
                    <li class="nav-item"><a asp-action="Register" asp-controller="Account"  class="nav-link link-dark px-2">Зарегистрироваться</a></li>                    
                }
            </ul>
        </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Техническая поддержка</span>
            </a>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Техническая поддержка пользувателей
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
